.single{
    width: 100%;
    display: flex;
    padding: 5px;
    margin: 20px;
    background-color: rgba(255, 147, 241, 0.397);
    justify-content: space-around;
    border-radius: 20px;

}
.todo-name{
    margin: 5px;
    padding: 5px;
    color: white;

}
.icons{
    margin: 5px;
    padding: 5px;
    display: flex;
}
.icon{
    padding: 5px;
    cursor: pointer;
}
.icon:hover{
    transform: scale(0.9);
}
.btn1{
    background-color: rgba(0, 128, 0, 0.24);
    border-radius: 25px;
    width: 50px;
    font-size: 15px;
    padding: 5px;
    border: none;

}